.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
}

header {
  grid-area: header;
  background-color: #282c34;
  min-height: 80px;
  color: white;
}

main {
  width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-area: main;
  grid-template-areas: "aside content";
  grid-template-columns: 2fr 10fr;
}
aside {
  grid-area: aside;
  background-color: #bdd5fc;
}
.content {
  grid-area: content;
  padding: 10px;
}

footer{
  grid-area: footer;
  background-color: #9afbb7;
}