.wrapper {
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-rows: 70px 1fr 50px;
}

.nav {
  grid-area: nav;
  background-color: #bdd5fc;
}

.main {
  display: main;
  display: grid;
  grid-template-areas: 
  "nav content";
  grid-template-columns: 2fr 10fr;
}

.content {
  grid-area: content;
}

.footer{
  grid-area: footer;
  background-color: #9afbb7;
}