.header {
  grid-area: header;
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}
.logo {
  height: 10vmin;
  pointer-events: none;
}
.navigate {
  list-style: none;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.navigate li.navItem {
  margin: 0 10px;
}
.navigate a {
  color: white;
  text-decoration: none;
}
.navigate a.active {
  color: gold;
}