.bookList {
    margin-bottom: 5px;
}
.book {
    margin: 15px 0;
}
.book>a {
    display: block;
    text-decoration: none;
    color: black;
}
.image {
    height: 50px;
}
.name {
    font-size: 1.3rem;
    font-weight: bold;
}
.author {
    font-style: italic;
}